.body-content {
  padding-top: 100px; /* 고정된 헤더 아래로 여백 추가 */
}

body {
  margin: 0;
  padding: 0;
  background-color: #1d2634;
  color: #9e9ea4;
  font-family: 'Montserrat', sans-serif;
}

/* Guide Page Styles */
.guide-header {
  text-align: center;
  margin-bottom: 20px;
}

.guide-header h1 {
  color: #ffffff;
  font-size: 36px;
}

.guide-content {
  background-color: #263043;
  padding: 20px;
  border-radius: 10px;
}

.guide-content p {
  color: #9e9ea4;
  font-size: 18px;
  line-height: 1.6;
}

.guide-content ul {
  list-style-type: none;
  padding-left: 0;
}

.guide-content ul li {
  background-color: #1d2634;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
}

.guide-content ul li strong {
  color: #ffffff;
}

.guide-content a {
  color: #6a24fe;
  text-decoration: none;
}

.guide-content a:hover {
  text-decoration: underline;
}

.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}

.icon_header {
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}

.icon,
.icon_header {
  margin-right: 5px;
}

.close_icon {
  color: red;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr; /* 사이드바와 메인 콘텐츠 영역을 나눕니다 */
  grid-template-rows: auto 1fr; /* 상단 헤더와 나머지 영역을 나눕니다 */
  grid-template-areas:
    'header header'
    'sidebar main'; /* 사이드바와 메인 콘텐츠를 나눕니다 */
  height: 100vh;
}

/* Header */
.header {
  grid-area: header;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

/* Sidebar */
#sidebar {
  grid-area: sidebar;
  background-color: #263043;
  overflow-y: auto;
  transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0 30px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px;
  font-size: 18px;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-list-item > a {
  text-decoration: none;
  color: #9e9ea4;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  z-index: 12 !important;
}

/* Main */
.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px;
  color: rgba(255, 255, 255, 0.95);
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;
}

.main-container.board-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
}

.card:first-child {
  background-color: #2962ff;
}

.card:nth-child(2) {
  background-color: #ff6d00;
}

.card:nth-child(3) {
  background-color: #2e7d32;
}

.card:nth-child(4) {
  background-color: #d50000;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner > .card_icon {
  font-size: 25px;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
  height: 300px;
}

/* 게시판 */
.board-container {
  padding: 20px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #263043;
  border-radius: 10px;
  color: #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.board-header h1 {
  color: #6a24fe;
  margin: 0;
}

.write-button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.write-button:hover {
  background-color: #0056b3;
}

.board-form {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #1d2634;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px; /* 요소들 간의 간격을 일정하게 */
}

.board-form input,
.board-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #9e9ea4;
  background-color: #263043;
  color: #ffffff;
}

.board-form textarea {
  height: 150px;
  resize: none;
}

.submit-button,
.cancel-button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
}

.cancel-button {
  background-color: #6c757d;
}

.submit-button:hover {
  background-color: #0056b3;
}

.cancel-button:hover {
  background-color: #5a6268;
}

.posts-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.post-item {
  background-color: #1d2634;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.post-item h2 {
  margin-top: 0;
  margin-bottom: 5px;
  color: #6a24fe;
  font-size: 20px;
  font-weight: bold;
  transition: color 0.3s ease; /* 색상 변화에 애니메이션 효과 추가 */
}

.post-item h2:hover {
  color: #3399ff; /* 마우스를 올렸을 때 밝은 색상으로 변경 */
}

.post-item p,
.post-item small {
  margin: 0;
  color: #9e9ea4;
}

.post-detail-container {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #263043;
  border-radius: 10px;
  color: #ffffff;
}

/* 게시글 작성 및 수정 폼 */

.post-form-container {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #1d2634;
  border-radius: 10px;
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-form-container input[type='text'],
.post-form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #9e9ea4;
  background-color: #263043;
  color: #ffffff;
  resize: vertical;
}

.post-form-container textarea {
  height: 200px;
  resize: vertical;
}

.post-form-container .submit-button,
.post-form-container .cancel-button {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.post-form-container .cancel-button {
  background-color: #6c757d;
}

.post-form-container .submit-button:hover {
  background-color: #0056b3;
}

.post-form-container .cancel-button:hover {
  background-color: #5a6268;
}

/* Post Detail Page */
.post-detail-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 20px;
}

.post-detail-container {
  padding: 30px;
  max-width: 1000px;
  width: 100%;
  background-color: #263043;
  border-radius: 10px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 2px solid #6a24fe;
  padding-bottom: 10px;
}

.post-detail-title-container {
  display: flex;
  align-items: center;
}

.back-button {
  cursor: pointer;
  margin-right: 15px;
  color: #6a24fe;
  font-size: 20px;
}

.post-detail-title {
  color: #6a24fe;
  font-size: 28px;
  margin: 0;
}

.post-detail-author {
  color: #9e9ea4;
  font-size: 16px;
}

.post-detail-content {
  background-color: #f8f8f8;
  color: #000000;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  line-height: 1.6;
  white-space: pre-wrap;
  min-height: 300px;
}

.attached-files-title {
  color: red;
}

.attached-file-link {
  color: red;
}

.post-detail-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.edit-button,
.delete-button,
.diagnosis-button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #000000;
}

.edit-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  margin-top: 20px;
}

.file-input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Modal Styles */
.modal {
  position: fixed; /* 화면에 고정되도록 설정 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 검정 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* 모달이 상단에 나타나도록 z-index 설정 */
}

.modal-content {
  background-color: #2a3451;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px; /* 모달의 최대 너비를 조정하여 더 넓게 설정 */
  width: 100%;
  box-sizing: border-box;
  z-index: 1001;
}

.modal-input {
  width: 100%; /* 비밀번호 입력 칸을 모달 너비에 맞게 설정 */
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px; /* 입력 칸의 폰트 크기 */
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.modal-buttons button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-buttons button:first-child {
  background-color: #007bff;
  color: #ffffff;
}

.modal-buttons button:last-child {
  background-color: #6c757d;
  color: #ffffff;
}

.error-message {
  color: red;
  margin-top: 10px;
}

/* Medium <= 992px */
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      'header'
      'main';
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
}

/* Small <= 768px */
@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

/* Extra Small <= 576px */
@media screen and (max-width: 576px) {
  .header-left {
    display: none;
  }
}

/* 로그인 */
.login-wrapper {
  width: 400px;
  height: auto;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-wrapper > h2 {
  font-size: 28px;
  color: #6a24fe;
  margin-bottom: 30px;
}

#login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#login-form > input,
.verification-container input {
  width: calc(100% - 30px);
  height: 56px;
  padding: 0 15px;
  margin-bottom: 20px;
  border-radius: 6px;
  background-color: #f8f8f8;
  font-size: 18px;
}

#login-form > input::placeholder,
.verification-container input::placeholder {
  color: #d2d2d2;
}

.verification-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.verification-container input {
  flex: 1;
  margin-right: 10px;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button-container > input[type='submit'] {
  width: 48%;
  height: 50px;
  color: #000000;
  font-size: 18px;
  background-color: #ffffff;
  margin-top: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.button-container > input[type='submit'][value='SignUp'] {
  background-color: #828282;
}
